#container{
    width: 320px;
    height: 320px;
    /* background-color:red; */
    margin:auto;
    margin-top: 100px
    
}

/* #container h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
} */

.q{
    width: 100px;
    height: 100px;
    float: left;
    margin:0;
    padding:0;
    cursor: pointer;
    font-family:sans-serif;
    font-size:100px;
    /* background-color:yellow; */
}
.q:hover{
    background-color:azure;
}
#q0, #q1, #q2, #q3, #q4, #q5 {
    border-bottom: 10px solid black;
    /* background-color:green; */
}

#q1, #q2, #q4, #q5, #q7, #q8 {
    border-left: 10px solid black;
    /* background-color:rgb(61, 114, 61); */
}

.winning{
    color:red;
}

.player-win{
    color: red;
    font-size: 40px;
}

